<div class="container mx-auto">
  <div class="flex flex-wrap gap-4 xl:gap-5 my-10">
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/200/300.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/400/200.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/300/280.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/600/280.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/400/400.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/300/400.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/320/500.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>

    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/400/200.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/300/280.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/600/280.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/300/400.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/400/200.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
    <a href="#" class="grow">
      <img
        loading="lazy"
        src="https://picsum.photos/320/300.webp"
        alt="1"
        class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
      />
    </a>
  </div>
  <div class="flex justify-center mb-24">
    <button class="flex items-center gap-2">
      <svg
        width="15"
        height="8"
        viewBox="0 0 15 8"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.47253 7.65783C7.22967 7.65831 6.99431 7.57372 6.8073 7.41877L0.570804 2.22168C0.358538 2.04526 0.225051 1.79173 0.199711 1.51688C0.17437 1.24203 0.259251 0.968373 0.43568 0.756106C0.612109 0.54384 0.865634 0.410354 1.14048 0.385014C1.41533 0.359673 1.68899 0.444553 1.90126 0.620982L7.47253 5.27757L13.0438 0.78729C13.1501 0.700949 13.2725 0.636473 13.4038 0.597565C13.5351 0.558658 13.6728 0.546088 13.809 0.560576C13.9452 0.575065 14.0772 0.616327 14.1974 0.68199C14.3176 0.747654 14.4236 0.836426 14.5094 0.943202C14.6046 1.05008 14.6767 1.17546 14.7211 1.31149C14.7656 1.44752 14.7815 1.59127 14.7679 1.73374C14.7542 1.87621 14.7113 2.01431 14.6417 2.13942C14.5722 2.26452 14.4776 2.37391 14.3639 2.46075L8.12736 7.48113C7.93498 7.61159 7.70442 7.67381 7.47253 7.65783Z"
        />
      </svg>
      <span>View More</span>
    </button>
  </div>
</div>
