<div
  class="page-content container-fluid mx-auto min-h-screen relative mt-8 block"
>
  <div class="mb-6">
    <button
      class="toggle-filter-sidebar lg:hidden flex items-center gap-4 border-brand-body1 border rounded-lg mb-6 px-3 py-2"
    >
      <img src="/assets/img/icons/filters.svg" alt="Icon Filters" class="w-5" />
      Filters
    </button>
    <div>
      <h1 class="inline text-xl">Travel –</h1>
      <span class="text-sm font-light">(1,140 resources)</span>
    </div>
    <div class="text-brand-body1 text-sm font-extralight mt-2">
      All images / images
    </div>
  </div>
  <div class="pb-20">
    <div class="flex flex-wrap gap-4 xl:gap-5">
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/premium.svg" alt="Icon Premium" />
          Premium
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/1.jpg"
            alt="1"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/premium.svg" alt="Icon Premium" />
          Premium
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/2.jpg"
            alt="2"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/3.jpg"
            alt="3"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/4.jpg"
            alt="4"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/5.jpg"
            alt="5"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/6.jpg"
            alt="6"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/7.jpg"
            alt="7"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/8.jpg"
            alt="8"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/9.jpg"
            alt="9"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/10.jpg"
            alt="10"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
      <div class="item-element group grow relative">
        <div
          class="absolute bottom-4 left-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm"
        >
          <img src="/assets/img/icons/gift.svg" alt="Icon Gift" />
          Appsumo Startups
        </div>
        <div
          class="folder-item cursor-pointer absolute bottom-4 right-4 text-white flex items-center gap-2 bg-[#000]/50 rounded-lg px-3 py-2 font-light text-sm opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <img
            src="/assets/img/icons/folder.svg"
            alt="Icon Folder"
            class="folder-default"
          />
          <img
            src="/assets/img/icons/folder-active.svg"
            alt="Icon Folder"
            class="folder-selected"
          />
        </div>
        <a href="#" class="cursor-default">
          <img
            loading="lazy"
            src="/assets/img/gallery/christmas/11.jpg"
            alt="11"
            class="rounded-lg h-[110px] sm:h-[200px] lg:h-[260px] object-cover max-w-full min-w-full"
          />
        </a>
      </div>
    </div>
    <div class="py-10 flex items-center gap-4 justify-center">
      <img
        src="/assets/img/icons/arrow-down-black.svg"
        alt="Icon Prev"
        class="rotate-90 cursor-pointer p-2"
      />
      <input
        type="number"
        value="1"
        placeholder="1"
        class="w-20 border rounded p-1 text-center border-brand-body1"
      />
      <span class="text-brand-body1 font-light">of 29 pages</span>
      <img
        src="/assets/img/icons/arrow-down-black.svg"
        alt="Icon Next"
        class="-rotate-90 cursor-pointer p-2"
      />
    </div>
  </div>
</div>
