<footer class="relative z-10">
  <div class="bg-black py-8 md:py-14 text-white">
    <div class="container mx-auto">
      <div class="flex">
        <div class="flex flex-col flex-1 md:grid md:grid-cols-3">
          <div class="order-4 md:order-1">
            <img
              src="/assets/img/logo/logo-text-white.svg"
              alt="YAYImages Logo"
              class="hidden md:block"
            />
            <ul
              class="max-md:flex mt-10 md:mt-4 justify-between text-xl [&>li]:py-2 [&>li>a]:flex [&>li>a]:items-center [&>li>a]:gap-2"
            >
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="/pricing">Pricing</a>
              </li>
              <li>
                <a href="#">
                  Help
                  <img
                    src="/assets/img/icons/help-circle.svg"
                    alt="Icon help"
                  />
                </a>
              </li>
            </ul>
          </div>
          <div class="order-2">
            <div
              class="accordion-item open md:pointer-events-none border-white border-b md:border-0"
            >
              <h4
                class="py-6 md:py-0 w-full flex items-center gap-2 text-xl group"
                data-toggle="collapse"
                data-target="#footer-partnership"
                data-device="mobile"
              >
                <img
                  src="/assets/img/icons/partnership.svg"
                  alt="Icon Partnership"
                />
                <span class="flex-1">Partnership</span>
                <img
                  src="/assets/img/icons/arrow-down-white.svg"
                  alt="Icon Arrow"
                  class="accordion-arrow md:hidden"
                />
              </h4>
              <div class="accordion-inner" id="footer-partnership">
                <ul class="text-sm font-light [&>li]:py-2 -mt-2 md:mt-4 pb-6">
                  <li>
                    <a href="#">Become a Contributor</a>
                  </li>
                  <li>
                    <a href="#">Become an Affiliate</a>
                  </li>
                  <li>
                    <a href="#">Contributor Dashboard</a>
                  </li>
                  <li>
                    <a href="#">Contributor Terms</a>
                  </li>
                  <li>
                    <a href="#">API</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="order-3">
            <div
              class="accordion-item open md:pointer-events-none border-white border-b md:border-0"
            >
              <h4
                class="py-8 md:py-0 w-full flex items-center gap-2 text-xl group"
                data-toggle="collapse"
                data-target="#footer-information"
                data-device="mobile"
              >
                <img
                  src="/assets/img/icons/information.svg"
                  alt="Icon Information"
                />
                <span class="flex-1">Information</span>
                <img
                  src="assets/img/icons/arrow-down-white.svg"
                  alt="Icon Arrow"
                  class="accordion-arrow md:hidden"
                />
              </h4>
              <div class="accordion-inner" id="footer-information">
                <ul class="text-sm font-light [&>li]:py-2 -mt-2 md:mt-4 pb-6">
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Terms</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <h4 class="inline-flex items-center gap-2 text-xl">
            Payment Methods
          </h4>
          <ul class="flex items-center gap-2 mt-4">
            <li>
              <img src="/assets/img/payments/Amex.svg" alt="Amex" />
            </li>
            <li>
              <img src="/assets/img/payments/Visa.svg" alt="Visa" />
            </li>
            <li>
              <img src="/assets/img/payments/Mastercard.svg" alt="Mastercard" />
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center font-light mt-24">
        <img
          src="/assets/img/logo/logo-text-white.svg"
          alt="YAYImages Logo"
          class="mx-auto mb-10 md:hidden"
        />
        © Copyright 2008 - 2022 YayImages all rights reserved.
      </div>
    </div>
  </div>
</footer>

<div
  id="menu-signup"
  class="fixed top-0 pt-10 z-[90] h-screen w-full hidden overflow-y-scroll"
>
  <div class="p-4 lg:p-8">
    <div
      class="bg-white rounded-lg p-7 lg:p-10 relative w-full max-w-[500px] mx-auto shadow-modal"
    >
      <button class="toggle-menu-signup absolute top-4 right-4">
        <img src="/assets/img/icons/close.svg" alt="Icon Close" class="p-4" />
      </button>
      <div class="text-center">
        <h4 class="text-2xl mb-4 font-semibold">Welcome!</h4>
        <p class="text-lg mb-4 font-inter">
          Create your account to gain download access
        </p>
        <form>
          <div class="text-left flex flex-col md:grid md:grid-cols-2 gap-3">
            <input
              placeholder="First name *"
              class="rounded-lg border px-5 py-3"
            />
            <input
              placeholder="Last name*"
              class="rounded-lg border px-5 py-3"
            />
            <input
              placeholder="Email address *"
              class="col-span-2 rounded-lg border px-5 py-3"
            />
            <input
              placeholder="Create password *"
              type="password"
              class="col-span-2 rounded-lg border px-5 py-3"
            />
          </div>
          <button
            class="toggle-menu-signup rounded-lg bg-brand-accent text-white block p-4 mt-6 text-center mx-auto w-full max-w-[300px]"
          >
            Sign Up
          </button>
        </form>

        <div class="text-center mt-6 text-brand-body1 text-sm">
          <div>
            Already have an account?
            <a href="#" class="text-brand-accent font-bold">Login</a>
          </div>
          <div class="mt-4 font-inter">
            By clicking Subscribe you are agreeing to our
            <a>Terms & Conditions</a> and our <a>Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="menu-mobile"
  class="fixed top-0 pt-10 z-[90] w-full h-screen hidden overflow-y-scroll"
>
  <div class="p-4 lg:p-8">
    <div
      class="bg-white rounded-lg shadow-2xl p-7 lg:p-10 relative w-full max-w-[500px] mx-auto"
    >
      <img
        src="/assets/img/icons/close.svg"
        alt="Icon Close"
        class="toggle-menu-mobile absolute right-4 top-4 p-4 z-10"
      />
      <div>
        <a
          href=""
          class="flex items-center gap-4 py-6 border-b border-brand-xl-lightgray"
        >
          <img
            src="/assets/img/icons/menu-images.svg"
            alt="Icon Images"
          />Images
        </a>
        <a
          href=""
          class="flex items-center gap-4 py-6 border-b border-brand-xl-lightgray"
        >
          <img
            src="/assets/img/icons/menu-videos.svg"
            alt="Icon Videos"
          />Videos
        </a>
        <a
          href=""
          class="flex items-center gap-4 py-6 border-b border-brand-xl-lightgray"
        >
          <img
            src="/assets/img/icons/menu-vectors.svg"
            alt="Icon Vectors"
          />Vectors
        </a>
        <a
          href=""
          class="flex items-center gap-4 py-6 border-b border-brand-xl-lightgray"
        >
          <img
            src="/assets/img/icons/menu-pricing.svg"
            alt="Icon Pricing"
          />Pricing
        </a>
      </div>
      <button
        class="toggle-menu-signup rounded-lg bg-brand-accent text-white block p-4 mt-6 text-center w-full"
      >
        Sign Up
      </button>
      <div class="text-center mt-6 text-brand-body1 text-sm">
        Already have an account?
        <a href="#" class="text-brand-accent font-bold">Login</a>
      </div>
    </div>
  </div>
</div>
