<footer>
  <div class="bg-black py-8 md:py-14 text-white">
    <div class="container mx-auto">
      <div class="flex">
        <div class="flex flex-col flex-1 md:grid md:grid-cols-3">
          <div class="order-4 md:order-1">
            <img
              src="./assets/img/logo/logo-text-white.svg"
              alt="YAYImages Logo"
              class="hidden md:block"
            />
            <ul
              class="max-md:flex mt-10 md:mt-4 justify-between text-xl [&>li]:py-2 [&>li>a]:flex [&>li>a]:items-center [&>li>a]:gap-2"
            >
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Pricing</a>
              </li>
              <li>
                <a href="#">
                  Help
                  <img
                    src="./assets/img/icons/help-circle.svg"
                    alt="Icon help"
                  />
                </a>
              </li>
            </ul>
          </div>
          <div class="order-2">
            <div class="border-white border-b md:border-0">
              <h4
                class="py-6 md:py-0 w-full flex items-center gap-2 text-xl group"
                data-toggle="collapse"
                data-target="#footer-partnership"
                data-device="mobile"
              >
                <img
                  src="assets/img/icons/partnership.svg"
                  alt="Icon Partnership"
                />
                <span class="flex-1">Partnership</span>
                <img
                  src="assets/img/icons/arrow-down-white.svg"
                  alt="Icon Arrow"
                  class="accordion-arrow md:hidden"
                />
              </h4>
              <div class="hidden md:block" id="footer-partnership">
                <ul class="text-sm font-light [&>li]:py-2 -mt-2 md:mt-4 pb-6">
                  <li>
                    <a href="#">Become a Contributor</a>
                  </li>
                  <li>
                    <a href="#">Become an Affiliate</a>
                  </li>
                  <li>
                    <a href="#">Contributor Dashboard</a>
                  </li>
                  <li>
                    <a href="#">Contributor Terms</a>
                  </li>
                  <li>
                    <a href="#">API</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="order-3">
            <div class="border-white border-b md:border-0">
              <h4
                class="py-8 md:py-0 w-full flex items-center gap-2 text-xl group"
                data-toggle="collapse"
                data-target="#footer-information"
                data-device="mobile"
              >
                <img
                  src="assets/img/icons/information.svg"
                  alt="Icon Information"
                />
                <span class="flex-1">Information</span>
                <img
                  src="assets/img/icons/arrow-down-white.svg"
                  alt="Icon Arrow"
                  class="accordion-arrow md:hidden"
                />
              </h4>
              <div class="hidden md:block" id="footer-information">
                <ul class="text-sm font-light [&>li]:py-2 -mt-2 md:mt-4 pb-6">
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Terms</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <h4 class="inline-flex items-center gap-2 text-xl">
            Payment Methods
          </h4>
          <ul class="flex items-center gap-2 mt-4">
            <li>
              <img src="./assets/img/payments/Amex.svg" alt="Amex" />
            </li>
            <li>
              <img src="./assets/img/payments/Visa.svg" alt="Visa" />
            </li>
            <li>
              <img
                src="./assets/img/payments/Mastercard.svg"
                alt="Mastercard"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center font-light mt-24">
        <img
          src="./assets/img/logo/logo-text-white.svg"
          alt="YAYImages Logo"
          class="mx-auto mb-10 md:hidden"
        />
        © Copyright 2008 - 2022 YayImages all rights reserved.
      </div>
    </div>
  </div>
</footer>
