{% import "components/homepage/review.html" as Review %}

<section class="py-16">
  <div class="container mx-auto relative">
    <h3 class="typography-h3 text-center mb-6 md:mb-12">
      Words from our users:
    </h3>
  </div>
  <div class="md:container mx-auto relative">
    <div
      class="flex gap-10 xl:gap-20 overflow-scroll lg:overflow-visible snap-mandatory snap-x px-10 md:px-16 lg:px-0 l py-10 scrollbar-hide"
    >
      {{ Review.item("Sandrita", "Sept. 12th 2021", "5", "It is a great product.
      I recommend it to everyone. I bought it recently and the images look great
      to me. I think it is an offer that is worth buying because the offer is
      very generous.") }} {{ Review.item("WowRyan", "Sept. 12th 2021", "5",
      "Love The Extended License. I create products which are licensed template
      designs. I've usually been forced to create most everything from scratch
      due to standard stock license restrictions.") }} {{ Review.item("Esther",
      "Sept. 12th 2021", "5", ".... We contacted their support for questions and
      they were very responsive. We highly recommend them if you’re looking for
      affordable images and videos for your projects.") }}
    </div>
  </div>
</section>
