{% macro item(title, url) %}
<a
  href="/collection/{{title | slugify}}"
  class="w-full min-w-[70vw] md:min-w-[350px] h-[200px] md:h-[235px] rounded-xl group relative block overflow-hidden shadow-brand-sm snap-center"
>
  <div class="flex items-center justify-center absolute w-full h-full z-10">
    <h6 class="text-white text-2xl font-semibold">{{title}}</h6>
  </div>
  <div
    class="absolute left-0 top-0 h-full w-full bg-gradient-radial from-black/0 to-black/80 transition duration-500 ease-in-expo opacity-0 group-hover:opacity-50 z-10"
  ></div>
  <img
    src="{{url}}"
    loading="lazy"
    class="absolute top-0 left-0 object-cover h-full w-full group-hover:scale-110 transition duration-700 bg-brand-blank"
    alt="{{title}}"
  />
</a>
{% endmacro %}
