<div
  class="absolute right-0 top-0 h-[1000px] overflow-y-hidden px-10 -mx-10 hidden lg:block w-[400px] xl:w-auto"
>
  <div class="flex gap-6">
    <div
      class="flex flex-col gap-6 [&>img]:rounded-lg [&>img]:shadow-carousel col-hero-carousel"
    >
      <img src="../assets/img/home/carousel/Rectangle 17-5.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-6.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-8.jpg" />

      <img src="../assets/img/home/carousel/Rectangle 17-5.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-6.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-8.jpg" />
    </div>
    <div
      class="-top-32 relative flex flex-col gap-6 [&>img]:rounded-lg [&>img]:shadow-carousel col-hero-carousel"
    >
      <img src="../assets/img/home/carousel/Rectangle 17-3.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-1.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-4.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-7.jpg" />

      <img src="../assets/img/home/carousel/Rectangle 17-3.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-1.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-4.jpg" />
      <img src="../assets/img/home/carousel/Rectangle 17-7.jpg" />
    </div>
  </div>
  <div
    class="backdrop-carousel w-full h-96 absolute bottom-0 right-0 bg-gradient-to-t from-[#fff] to-transparent backdrop-blur"
  ></div>
</div>
