<section id="section-hero-search" class="py-36 mb-14">
  <div class="text-center flex flex-col gap-12">
    <h1 class="typography-h1 text-white">
      Find & Download Royalty - Free Stock Assets
    </h1>
    <div class="max-w-[600px] mx-auto text-white">
      <p>
        13.5 Million Royalty-Free Stock Photos, Vectors and Videos Directly from
        18,000 photographers from 145+ countries
      </p>
    </div>
    <div class="max-w-[800px] mx-auto w-full text-white">
      {% include "components/searchbar.html" %}
    </div>
  </div>
</section>
