@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 72px;
  --sidebar-filter-offset-y: 0;
  --container-width: 100%;
}

body {
  font-family: "Jost", sans-serif;
}

.container-fluid {
  @apply max-w-none w-full px-6 lg:px-10;
}

.page-content.container-fluid {
  @apply lg:px-16;
}

.home {
  background: url("../assets/img/bg-waves-1.png") top center/cover;
  background-position: left -210px;
}

.pricing {
  background: url("../assets/img/bg-waves-2.jpg") top center/cover;
}

.explore {
  background: url("../assets/img/bg-waves-3.jpg") top center/contain;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrolled-container .scrolled-inner {
  @apply px-8;
}

.typography-h1 {
  @apply text-5xl font-extrabold capitalize;
}

.typography-h2 {
  @apply text-4xl font-bold capitalize;
}

.typography-h3 {
  @apply text-3xl font-semibold capitalize;
}

.typography-h4 {
  @apply text-2xl font-semibold capitalize;
}

.typography-h5 {
  @apply text-xl font-medium capitalize;
}

.typography-subtitle-1 {
  @apply font-inter text-xl;
}

.typography-body-5 {
  @apply font-inter text-sm text-brand-body1 font-light;
}

.text-gradient-1 {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#3532D1] via-[#943685] to-[#F13A3A];
}
.text-gradient-2 {
  /* @apply text-transparent bg-clip-text bg-gradient-to-r from-[#3532D1] via-[#943685] to-[#F13A3A]; */
}

.aside-filters {
  @apply flex-1 z-10 top-0 bg-white grow-0;
  @apply max-lg:fixed max-lg:w-screen max-lg:h-screen max-lg:z-[120];
  @apply lg:block;
}

.sidebar-search-inner {
  @apply w-full lg:w-[20vw] lg:min-w-[310px] lg:max-w-[400px] sticky top-[100px] lg:top-[167px] overflow-x-hidden overflow-y-scroll;
  @apply max-h-[calc(100vh_-_100px)] lg:max-h-[calc(100vh_-_171px)];
}

.page-with-sidebar:not(.open) .aside-filters {
  @apply max-lg:hidden;
}
.page-with-sidebar:not(.open) .aside-filters .sidebar-search-container {
  @apply hidden;
}
.page-with-sidebar.open .sidebar-arrow-indicator--fixed {
  @apply hidden;
}

.page-with-sidebar.open .sidebar-arrow-indicator {
  @apply rotate-90;
}

.item-element:not(.selected) .folder-selected {
  @apply hidden;
}
.item-element.selected .folder-item {
  @apply opacity-100;
}

.item-element.selected .folder-default {
  @apply hidden;
}

.item-element.selected .folder-item {
  @apply bg-white;
}

.text-space-item.active {
  @apply bg-brand-accent shadow-none;
}

input {
  @apply text-sm;
}

input[type="radio"] {
  @apply accent-brand-accent w-4 h-4;
}

input {
  @apply font-inter;
}

.accordion-item.open .accordion-arrow {
  @apply rotate-180;
}

.accordion-item:not(.open) .accordion-inner {
  @apply hidden;
}

#section-access {
  background: url("../assets/img/bg-access-section.jpg") top center repeat-x;
  @apply pt-24 -mt-24;
}

#section-hero-search {
  background: url("../assets/img/home/bg-search-section.jpg") top center/cover;
}

#section-hero-search .header-searchbar {
  @apply h-[58px];
}

#section-hero-collection {
  background: #d9d9d9 center center/cover;
}

@media only screen and (max-width: md) {
  .typography-h3 {
    @apply text-2xl;
  }
}

@media screen(md) {
  .home {
    background-position: top center;
  }

  :root {
    --header-height: 100px;
    --sidebar-filter-offset-y: 100px;
    --container-width: 768px;
  }

  .scrolled-container .scrolled-inner {
    padding-left: calc(50vw - (var(--container-width) / 2 - 2rem));
  }
}

@media screen(lg) {
  .page-with-sidebar.open .page-content {
    @apply pl-16;
  }

  :root {
    --container-width: 1024px;
  }
}

@media screen(xl) {
  :root {
    --container-width: 1280px;
  }
}
@media screen(2xl) {
  :root {
    --container-width: 1536px;
  }
}

.container-color .clr-picker {
  @apply shadow-none w-full;
}
.container-color .clr-gradient {
  @apply rounded-lg;
}
.container-color .clr-alpha,
.container-color .clr-hue {
  @apply m-0 w-full h-[16px] rounded-full;
}

.container-color .clr-preview {
  @apply hidden;
}

.container-color .clr-color {
  @apply rounded-lg border-brand-body1 mt-4 w-full m-0;
}

.col-hero-carousel {
  animation: bannermove 30s linear infinite;
}

.backdrop-carousel {
  mask: linear-gradient(to bottom, transparent, white 60%);
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(calc(-50% - 10px));
  }
}

/*
.scrollable-inner * {
  scrollbar-width: thin;
  scrollbar-color: #a5b7c6 transparent;
}

.scrollable-inner *::-webkit-scrollbar {
  width: 3px;
}

.scrollable-inner *::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-inner *::-webkit-scrollbar-thumb {
  background-color: #a5b7c6;
  border: 3px solid transparent;
}
*/
