---
layout: layouts/base.html
title: "YAYImages - HTML Template - Search Page"
loggedin: true
---

<main>
  <div class="home">
    <div class="container mx-auto relative"></div>

    {% include "components/homepage/sectionHeroSearch.html" %} {% include
    "components/homepage/sectionContent.html" %} {% include
    "components/homepage/sectionTrendingCollections.html" %} {% include
    "components/homepage/sectionPopularSearch.html" %} {% include
    "components/homepage/sectionFeaturedContributors.html" %}
  </div>
</main>
