---
layout: layouts/base.html
title: "YAYImages - HTML Template - Search Page"
---

{% import "components/button.html" as Button %} {% import
"components/homepage/feature.html" as Feature %}

<main class="home">
  {% include "components/homepage/salebanner.html" %}

  <section class="pb-12">
    <div class="container mx-auto relative">
      <div class="flex justify-between relative">
        <div class="mt-24 lg:mt-40">
          <div class="max-w-[500px]">
            <h1
              class="capitalize text-3xl lg:text-5xl font-bold leading-tight lg:leading-tight"
            >
              Stock Assets for your
              <span class="text-brand-accent">creative</span> projects
            </h1>
            <p class="my-10 lg:text-xl">
              <span class="text-brand-accent">13.5</span> Million Royalty-Free
              Stock Photos, Vectors and Videos from
              <span class="text-brand-accent">18,000</span> photographers from
              <span class="text-brand-accent">145+</span> countries
            </p>

            {{ Button.btn("Start Downloading", "/create-an-account") }}
          </div>
          <div class="flex flex-col md:flex-row md:items-baseline mt-32">
            <span
              class="text-brand-body1 font-inter text-sm mr-4 mb-3 md:mb-0 relative md:-top-[2px]"
              >Trusted by
            </span>

            <ul class="flex items-baseline gap-4 flex-wrap justify-center">
              <li>
                <img src="../assets/img/trustedby/vimeo.svg" alt="Vimeo" />
              </li>
              <li>
                <img
                  src="../assets/img/trustedby/appsumo.svg"
                  alt="Appsumo"
                  class="h-[15px]"
                />
              </li>
              <li>
                <img src="../assets/img/trustedby/shotkit.svg" alt="Shotkit" />
              </li>
              <li>
                <img
                  src="../assets/img/trustedby/genially.png"
                  alt="Genially"
                  class="-mb-[8px]"
                />
              </li>
              <li>
                <img src="../assets/img/trustedby/match.svg" alt="Match" />
              </li>
            </ul>
          </div>
        </div>
        <div>{% include "components/homepage/heroCarousel.html" %}</div>
      </div>
    </div>
  </section>

  {% include "components/homepage/sectionContent.html" %}

  <section class="py-6">
    <div class="container mx-auto relative">
      <h3
        class="typography-h3 flex flex-wrap items-center text-center justify-center mb-12"
      >
        With
        <img
          src="../assets/img/logo/logo-text-only.svg"
          class="mr-3 ml-2 -mb-1"
        />
        you can:
      </h3>
      <div class="flex flex-col md:grid grid-cols-2 lg:grid-cols-4 gap-8">
        {{ Feature.item("Cancel at any time", "Cancel your subscritpion whenever
        you feel like it. <br />
        No strings attached. ", "../assets/img/icons/feature-cancel.svg") }} {{
        Feature.item("Copyright Protection", "All your dowloads are protected by
        our copyright protection guarantee.",
        "../assets/img/icons/feature-copyright.svg") }} {{
        Feature.item("Extended License", "With our Extended License you can:
        Print-on-demand, advertising, a client's website, your own website,
        books, web design templates, presentations, youtube, movies and more. ",
        "../assets/img/icons/feature-contract.svg") }} {{
        Feature.item("Flexibility", "Updgrade and dowgrade plans freely to fit
        your needs.", "../assets/img/icons/feature-flexibility.svg") }}
      </div>
    </div>
  </section>

  {% include "components/section-review.html" %}

  <section id="section-access" class="py-16">
    <div class="md:container mx-auto relative text-center">
      <div class="bg-[#E3F4FF] p-14 rounded-md">
        <div class="flex flex-col gap-6 max-w-[700px] mx-auto">
          <h3 class="typography-h3">Gain exclusive access Million of assets</h3>
          <p class="text-xl">
            Create an account and have an smooth creative flow by downloading
            royalty-free images, videos and vectors for your projects
          </p>
          <div>{{ Button.btn("Join Now", "/create-an-account") }}</div>
        </div>
      </div>
    </div>
  </section>
</main>
